<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
    <title>User Profile</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="profilebody">
    <h1>Welcome to your profile</h1>
    
    <div class="profileinfo">

    <div class="favoritebtn">
            <a href="/user/favorites">Your Favorite Gym's</a>     
    </div>

    <div class="searchbtn">
        <a href="/app/search">Search For Gym's</a>
    </div>

    <div class="logoutbtn">
        <a href="/user/logout">Logout</a>
    </div>

    </div>
</body>

</html>