<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">  <!-- font-family: 'Quicksand', sans-serif; -->
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">

  </head>
  <body class="homepage">
    <div class="home-main-container">

      <div class="home-title">What's Your Gym?</div>


      <div class="info">
        <div class="login">
        <h1>Existing User Please Login</h1>
        <a href="/user/login" class="fake-button">Login</a>
        </div>

        <div class="signup">
        <h1>If New User PLease Sign Up</h1>
        <a href="/user/new" class="fake-button">Sign Up</a>
        </div>
      </div>
 

    </div>
  </body>
</html>