<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
  <body>
    <div class="center-container">
      <div class="landing-container">
        <h1>TV Haus</h1>
        <a class="fake-button" href="/user/login">Log In</a>
        <a class="fake-button" href="/user/new">Sign Up</a>
      </div>
    </div>
  </body>
</html>