<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">  <!-- font-family: 'Quicksand', sans-serif; -->
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">

  </head>
  <body>
    <div class="home-main-container">

      <div class="home-title">What's Your Gym?</div>

      <div class="home-links">
        <a href="/user/login" class="fake-button">Login</a>
        <a href="/user/new" class="fake-button">Sign Up</a>
      </div>

    </div>



  </body>
</html>