<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script> -->



</head>
<body>
	<h1>This will be my main page</h1>

<form id="search">
      <input type="text" id="search-input" placeholder="Address/Zip Code" />
      <button id="search-button">Search</button>
    </form>

<!--     <div class="gyms">
    	{{#gym}}
    		<p>{{ gyms }}</p>
    	{{/gym}}
    </div> -->
	
	
</body>
</html>