<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>



</head>
<body>
	<h1>This will be my main page</h1>
     <nav>
      <a href="/favorites">Favorites</a>
      <a href="/user/logout">Log Out</a>
    </nav>

<form id="search">
      <input type="text" id="search-input" placeholder="Address/Zip Code" />
      <button id="search-button">Search</button>
    </form>


	
	
</body>
</html>